@tailwind base;

@tailwind components;

.social-link.inst {
    width: 67px;
}
.social-link:hover .default-image {
    height: 0;
}
.social-link:hover .hover-image {
    height: auto;
    animation: fade_in_show 0.333s;
}

@keyframes fade_in_show {
     0% {
          opacity: 0;
          transform: scale(.8)
     }
     100% {
          opacity: 1;
          transform: scale(1)
     }
}
@tailwind utilities;

.active-nav-link {
    @apply px-2 py-1 rounded bg-indigo-100 no-underline font-semibold text-indigo-600;
}
.active-nav-mobile-link {
    @apply bg-gray-700  font-semibold;
}
