<template>
  <div>
    <button
      class="p-2 bg-orange-100 rounded shadow-lg hover:bg-orange-200 transition duration-300"
      @click.prevent="isOpen = true"
    >
      <svg class="w-4 h-4 fill-current text-orange-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>

    <div :class="{block: isOpen, hidden: !isOpen}" class=" bg-white fixed inset-0 overflow-hidden z-10 transition-all duration-300">
      <header class="flex justify-between items-center px-4 py-6  shadow-lg">
        <div>
          <a href="/"><img class="h-8" src="/images/logo.png" alt="Собакен"></a>
        </div>
        <div>
          <button
            @click.prevent="isOpen = false"
          >
            <svg class="w-6 h-6 stroke-current text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </button>
        </div>
      </header>

      <div>
        <ul class="py-4 space-y-2">
          <li><a class="px-4 py-1 mx-2 block rounded hover:bg-gray-300 hover:underline transition duration-300 hover:text-gray-800" href="/store">Магазикен</a></li>
          <li><a class="px-4 py-1 mx-2 block rounded hover:bg-gray-300 hover:underline transition duration-300 hover:text-gray-800" href="#">Доставка и оплата</a></li>
          <li><a class="px-4 py-1 mx-2 block rounded hover:bg-gray-300 hover:underline transition duration-300 hover:text-gray-800" href="#">Сотрудничество</a></li>
          <li><a class="px-4 py-1 mx-2 block rounded hover:bg-gray-300 hover:underline transition duration-300 hover:text-gray-800" href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isOpen: false
      }
    }
  }
</script>
